! Xresources | 17 Feb 18
! By daelvn

! -- URXVT -- !
! General settings
urxvt.saveline: 15000
urxvt.termName: rxvt-256color
! Appearance !
urxvt.font:           xft:scientifica:size=11,xft:Font Awesome:size=7
urxvt.letterSpace:    0
urxvt.antialias:      true
urxvt.scrollBar:      false
urxvt.depth:          32
urxvt.internalBorder: 16
! Extensions
urxvt.perl-ext-common: default,clipboard,url-select
! Macros
urxvt.copyCommand:   xclip -i -selection clipboard
urxvt.pasteCommand:  xclip -o -selection clipboard
urxvt.keysym.M-c:    perl:clipboard:copy
urxvt.keysym.M-v:    perl:clipboard:paste
urxvt.keysym.M-u:    perl:url-select:select_next
urxvt.urlLauncher:   firefox
urxvt.underlineURLs: true
urxvt.urlButton:     1

! Colorscheme
#import "/home/daelvn/dot/x/nord"

! -- Rofi -- !
! General settings !
rofi.font:            scientifica 7
rofi.modi:            window,run
rofi.terminal:        termite
! Colors !
rofi.color-enabled:   true
!                     bg    fg    altbg hlbg  hlfg
rofi.color-window:    nord0,nord4,nord0
rofi.color-normal:    nord0,nord4,nord0,nord1,nord4
rofi.color-active:    nord0,nord7,nord0,nord1,nord7
rofi.color-urgent:    nord0,nord15,nord0,nord1,nord15
! Layout !
rofi.yoffset:         -75
rofi.separator-style: none
rofi.lines:           10
rofi.width:           1100
rofi.columns:         1
rofi.opacity:         100
rofi.bw:              0
rofi.location:        0 
rofi.padding:         5
rofi.fixed-num-lines: false
rofi.hide-scrollbar:  true
